
{%extends 'base/base.html' %}


{% load static %}


{% block content %}

	
	<!-- Main Slider -->
	<section class="main-slider">
		<div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
			<div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
				<ul>
					
					<li data-transition="slidingoverlayhorizontal" data-description="Slide Description"  data-index="rs-1688" data-slotamount="default" data-thumb="https://html.themexriver.com/avarton/assets/images/main-slider/image-1.jpg" data-title="Slide Title">
					<img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="https://html.themexriver.com/avarton/assets/images/main-slider/image-1.jpg"> 
						
						<div class="tp-caption" 
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text"
						data-height="none"
						data-width="['1100','800','800','500']"
						data-whitespace="normal"
						data-hoffset="['15','15','15','15']"
						data-voffset="['-150','-240','-210','-210']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						style="">
							<div class="title">I’m A Life Coach</div>
						</div>
						
						<div class="tp-caption" 
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text"
						data-height="none"
						data-width="['1100','800','800','500']"
						data-whitespace="normal"
						data-hoffset="['15','15','15','15']"
						data-voffset="['-30','-100','-100','-110']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":0,"split":"chars","splitdelay":0.05,"speed":2000,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
						style="">
							<h1>Results With <br> Modern Ideas</h1>
						</div>
						
						<div class="tp-caption" 
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text"
						data-height="none"
						data-width="['1100','800','800','500']"
						data-whitespace="normal"
						data-hoffset="['15','15','15','15']"
						data-voffset="['100','40','15','0']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"power3.out"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
						style="">
							<div class="text">Discover the simple 3 Steps that I Discovered to Hack Productivity. <br> It works %100. Wanna transform your life?</div>
						</div>
						
						<div class="tp-caption  tp-resizeme"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text"
						data-height="none"
						data-width="['700','700','700','500']"
						data-whitespace="normal"
						data-hoffset="['15','15','15','15']"
						data-voffset="['190','150','105','100']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						style="">
							<div class="button-box">
								<a href="services.html" class="theme-btn btn-style-two"><span class="txt">Get Free Guide Now</span></a>
							</div>
						</div>
						
						<div class="tp-caption" 
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text"
						data-height="none"
						data-width="['700','700','700','500']"
						data-whitespace="normal"
						data-hoffset="['15','15','15','15']"
						data-voffset="['260','240','180','180']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						style="">
							<div class="clients-image">
								<img src="{% static 'images/main-slider/icons.png'%}" alt="" />
							</div>
						</div>
						
					</li>
					
					<li data-transition="slidingoverlayvertical" data-description="Slide Description"  data-index="rs-1689" data-slotamount="default" data-thumb="{% static 'images/main-slider/image-1.jpg'%}"  data-title="Slide Title">
					<img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{% static 'images/main-slider/image-1.jpg'%}" >
					
						<div class="tp-caption" 
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text"
						data-height="none"
						data-width="['1100','800','800','500']"
						data-whitespace="normal"
						data-hoffset="['15','15','15','15']"
						data-voffset="['-150','-240','-210','-210']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						style="">
							<div class="title">I’m A Life Coach</div>
						</div>
						
						<div class="tp-caption" 
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text"
						data-height="none"
						data-width="['1100','800','800','500']"
						data-whitespace="normal"
						data-hoffset="['15','15','15','15']"
						data-voffset="['-30','-100','-100','-110']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						style="">
							<h1>Results With <br> Modern Ideas</h1>
						</div>
						
						<div class="tp-caption" 
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text"
						data-height="none"
						data-width="['1100','800','800','500']"
						data-whitespace="normal"
						data-hoffset="['15','15','15','15']"
						data-voffset="['100','40','15','0']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						style="">
							<div class="text">Discover the simple 3 Steps that I Discovered to Hack Productivity. <br> It works %100. Wanna transform your life?</div>
						</div>
						
						<div class="tp-caption" 
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text"
						data-height="none"
						data-width="['700','700','700','500']"
						data-whitespace="normal"
						data-hoffset="['15','15','15','15']"
						data-voffset="['190','150','105','100']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						style="">
							<div class="button-box">
								<a href="services.html" class="theme-btn btn-style-two"><span class="txt">Get Free Guide Now</span></a>
							</div>
						</div>
						
						<div class="tp-caption" 
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text"
						data-height="none"
						data-width="['700','700','700','500']"
						data-whitespace="normal"
						data-hoffset="['15','15','15','15']"
						data-voffset="['260','240','180','180']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						style="">
							<div class="clients-image">
								<img src="{% static 'images/main-slider/icons.png'%}" alt="" />
							</div>
						</div>
					
					</li>
					
				</ul>
			</div>
		</div>
	</section>
	<!-- End Main Slider -->
	
	<!-- About Section -->
	<section class="about-section">
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image" data-tilt data-tilt-max="3">
							<img src="https://html.themexriver.com/avarton/assets/images/resource/about-1.jpg" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title">
							<div class="title">About Me</div>
							<h2>I help individuals to become their best version.</h2>
							<div class="text">I am glad that you have made it here to send a distress signal, and inform the Senate that all on board were killed. Dantooine.  I’m not going to Alderaan. I really got to go. But that to me.</div>
						</div>
						<div class="row clearfix">
							<!-- Column -->
							<div class="column col-lg-4 col-md-4 col-sm-12">
								<ul class="option-list">
									<li>
										<span class="icon transition-500ms flaticon-check"></span>
										Time to time <br> shedule
									</li>
								</ul>
							</div>
							<!-- Column -->
							<div class="column col-lg-4 col-md-4 col-sm-12">
								<ul class="option-list">
									<li>
										<span class="icon transition-500ms flaticon-check"></span>
										24/7 Online <br> Suppport
									</li>
								</ul>
							</div>
							<!-- Column -->
							<div class="column col-lg-4 col-md-4 col-sm-12">
								<ul class="option-list">
									<li>
										<span class="icon transition-500ms flaticon-check"></span>
										Man to <br> Optimize
									</li>
								</ul>
							</div>
						</div>
						
						<!-- Counter Box -->
						<div class="counter-box">
							<!-- Fact Counter -->
							<div class="fact-counter">
								<div class="row clearfix">

									<!-- Column -->
									<div class="counter-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
											<div class="content">
												<div class="count-outer count-box">
													<span class="count-text" data-speed="2500" data-stop="10">0</span>k
												</div>
												<div class="counter-title">Active students <br> worldwide</div>
											</div>
										</div>
									</div>

									<!-- Column -->
									<div class="counter-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
											<div class="content">
												<div class="count-outer count-box">
													<span class="count-text" data-speed="2500" data-stop="10">0</span>k
												</div>
												<div class="counter-title">Basement <br> in New York</div>
											</div>
										</div>
									</div>

									<!-- Column -->
									<div class="counter-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
											<div class="content">
												<div class="count-outer count-box">
													<span class="count-text" data-speed="3000" data-stop="2">0</span>k
												</div>
												<div class="counter-title">Cup of tea & <br> coffee</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							
						</div>
						<!-- End Counter Box -->
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End About Section -->
	
	<!-- Services Section -->

	<!-- End Services Section -->
	
	<!-- Course Section -->
	<section class="course-section">
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Title Column -->
				<div class="title-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title">
							<div class="title color-three">Get Instant Access to The Free</div>
							<h2>Self Development Course</h2>
							<div class="text">I am glad that you have made it here to send a distress signal, and inform the Senate that all on board were killed. Dantooine.  I’m not going to Alderaan. I really got to go. But that to me.</div>
						</div>
						
						<!-- Email Box -->
						<div class="email-box">
							<form method="post" action="contact.html">
								<div class="form-group">
									<span class="icon flaticon-envelope"></span>
									<input type="email" name="search-field" value="" placeholder="Email address" required>
									<button type="submit" class="theme-btn btn-style-three"><span class="txt">Start For Free</span></button>
								</div>
							</form>
						</div>
						
					</div>
				</div>
				
				<!-- Video Column -->
				<div class="video-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="pattern-layer" style="background-image: url(assets/images/background/pattern-1.png)"></div>
						<!-- Video Box -->
						<div class="video-box">
							<figure class="video-image">
								<img class="transition-500ms" src="assets/images/resource/video-image.jpg" alt="">
							</figure>
							<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="transition-900ms">Play<i class="ripple"></i></span></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Course Section -->
	
	<!-- Process Section -->
	<section class="process-section" style="background-image: url(assets/images/background/pattern-2.png)">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title light">
				<div class="title">Process</div>
				<h2>Our Solution Process</h2>
			</div>
			<div class="row clearfix">
				
				<!-- Process Block -->
				<div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box transition-300ms">
						<div class="icon transition-500ms flaticon-planning"></div>
						<div class="step">step 01</div>
						<h4><a href="service-detail.html">Plan For Work</a></h4>
						<div class="text">Through plans, you break down a process into small and identify the things you accomplish..</div>
					</div>
				</div>
				
				<!-- Process Block -->
				<div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box transition-300ms">
						<div class="icon transition-500ms flaticon-implement"></div>
						<div class="step">step 02</div>
						<h4><a href="service-detail.html">Implementation</a></h4>
						<div class="text">Through plans, you break down a process into small and identify the things you accomplish..</div>
					</div>
				</div>
				
				<!-- Process Block -->
				<div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box transition-300ms">
						<div class="icon transition-500ms flaticon-friend"></div>
						<div class="step">step 03</div>
						<h4><a href="service-detail.html">Consultancy</a></h4>
						<div class="text">Through plans, you break down a process into small and identify the things you accomplish..</div>
					</div>
				</div>
				
				<!-- Process Block -->
				<div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box transition-300ms">
						<div class="icon transition-500ms flaticon-finish-line"></div>
						<div class="step">step 04</div>
						<h4><a href="service-detail.html">Project Closure</a></h4>
						<div class="text">Through plans, you break down a process into small and identify the things you accomplish..</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Process Section -->
	
	<!-- Course Section Two -->
	<section class="course-section-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title color-four">Featured</div>
				<h2>Featured Courses</h2>
			</div>
			<div class="row clearfix">
				
				<!-- Course Block -->
				<div class="course-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="course-detail.html"><img class="transition-500ms" src="assets/images/resource/course-1.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h5><a href="course-detail.html">How to success through market segmentation</a></h5>
							<ul class="post-info">
								<li><span class="icon flaticon-book-1"></span>3 Chapter</li>
								<li><span class="icon flaticon-trophy"></span>10 Lessons</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- Course Block -->
				<div class="course-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="course-detail.html"><img class="transition-500ms" src="assets/images/resource/course-2.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h5><a href="course-detail.html">How to success through market segmentation</a></h5>
							<ul class="post-info">
								<li><span class="icon flaticon-book-1"></span>3 Chapter</li>
								<li><span class="icon flaticon-trophy"></span>10 Lessons</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- Course Block -->
				<div class="course-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="course-detail.html"><img class="transition-500ms" src="assets/images/resource/course-3.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h5><a href="course-detail.html">How to success through market segmentation</a></h5>
							<ul class="post-info">
								<li><span class="icon flaticon-book-1"></span>3 Chapter</li>
								<li><span class="icon flaticon-trophy"></span>10 Lessons</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- Course Block -->
				<div class="course-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="course-detail.html"><img class="transition-500ms" src="assets/images/resource/course-4.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h5><a href="course-detail.html">How to success through market segmentation</a></h5>
							<ul class="post-info">
								<li><span class="icon flaticon-book-1"></span>3 Chapter</li>
								<li><span class="icon flaticon-trophy"></span>10 Lessons</li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Course Section Two -->
	
	<!-- Clients Section -->
	
	<!-- End Clients Section -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title color-four">Testimonials</div>
				<h2>Hear out what my clients <br> say about me.</h2>
			</div>
			<div class="testimonial-carousel owl-carousel owl-theme">
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="upper-box">
							<span class="quote-icon flaticon-quote-3"></span>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="text">" It’s amazing how much easier it has been to meet new people and create instant connection. I have the exact same personality, the only thing that has changed is my mindset and a few behaviors. "</div>
						</div>
						<div class="lower-box">
							<div class="box-inner">
								<div class="author-image">
									<img src="assets/images/resource/author-1.jpg" alt="" />
								</div>
								<h5>Alaxis D. Dowson</h5>
								<div class="designation">Head Of Idea, Kilix Co.</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="upper-box">
							<span class="quote-icon flaticon-quote-3"></span>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="text">" It’s amazing how much easier it has been to meet new people and create instant connection. I have the exact same personality, the only thing that has changed is my mindset and a few behaviors. "</div>
						</div>
						<div class="lower-box">
							<div class="box-inner">
								<div class="author-image">
									<img src="assets/images/resource/author-2.jpg" alt="" />
								</div>
								<h5>Alaxis D. Dowson</h5>
								<div class="designation">Head Of Idea, Kilix Co.</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="upper-box">
							<span class="quote-icon flaticon-quote-3"></span>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="text">" It’s amazing how much easier it has been to meet new people and create instant connection. I have the exact same personality, the only thing that has changed is my mindset and a few behaviors. "</div>
						</div>
						<div class="lower-box">
							<div class="box-inner">
								<div class="author-image">
									<img src="assets/images/resource/author-1.jpg" alt="" />
								</div>
								<h5>Alaxis D. Dowson</h5>
								<div class="designation">Head Of Idea, Kilix Co.</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="upper-box">
							<span class="quote-icon flaticon-quote-3"></span>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="text">" It’s amazing how much easier it has been to meet new people and create instant connection. I have the exact same personality, the only thing that has changed is my mindset and a few behaviors. "</div>
						</div>
						<div class="lower-box">
							<div class="box-inner">
								<div class="author-image">
									<img src="assets/images/resource/author-2.jpg" alt="" />
								</div>
								<h5>Alaxis D. Dowson</h5>
								<div class="designation">Head Of Idea, Kilix Co.</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	<!-- News Section -->
	<section class="news-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title color-three">Insights</div>
				<h2>Company Blog & Insights</h2>
			</div>
			<div class="row clearfix">
			
				<!-- News Block -->
				<div class="news-block col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="post-date">January 21, 2022</div>
						<h3><a href="blog-detail.html">Stop Ignoring These 7 Inspiring. How to be 1% Better Every Day</a></h3>
						<div class="author-box">
							<div class="box-inner">
								<div class="author-image">
									<img src="assets/images/resource/author-1.jpg" alt="" />
								</div>
								<h5>Alaxis D. Dowson</h5>
								<div class="designation">Author</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="post-date">January 21, 2022</div>
						<h3><a href="blog-detail.html">To carry out put into performto implement a plan.</a></h3>
						<div class="author-box">
							<h5>Alaxis D. Dowson</h5>
							<div class="designation">Author</div>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="post-date">January 21, 2022</div>
						<h3><a href="blog-detail.html">It involves handing over to customer, passing.</a></h3>
						<div class="author-box">
							<h5>Alaxis D. Dowson</h5>
							<div class="designation">Author</div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</section>
	<!-- End News Section -->

<!-- Main Footer -->
<!-- end main footer-->

	
</div>
<!-- End PageWrapper -->

<!-- Search Popup -->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-cancel-1"></span></button>
	<button class="close-search"><span class="flaticon-up-arrow"></span></button>
	<form method="post" action="blog.html">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!-- End Header Search -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Revolution Slider -->
<script src="{% static 'plugins/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/main-slider-script.js' %}"></script>
<!-- For Js Library -->

<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script src="{% static 'js/nav-tool.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>

{% endblock content %}

<!-- "{% static 'css/main.css' %}" -->
